<!-- will hold ALL recipes from all users-->
{{#each recipes as |recipe| }}
<div>
  <div>
    <h2><b>RECIPE: </b>
      <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </h2>
    <p>Created by {{recipe.user.name}}</p>
  </div>
  <div>
    <b>INGREDIENTS: </b>
    <p>
      <pre>{{recipe.ingredients}}</pre>
    </p>
    <b>INSTRUCTIONS: </b>
    <p>
      <pre>{{recipe.instructions}}</pre>
    </p> 
  </div>
</div>
{{/each}}
