<!-- will hold ALL recipes from all users-->
{{#each recipes as |recipe| }}
<div >
  <div>
    <h2><b>Recipe: </b>
      <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </h2>
    <p><b>Created by: </b> {{recipe.user.name}} {{recipe.date_posted}}</p>
  </div>
  <div >
    <b>Ingredients: </b>
    <p>
      <pre>{{recipe.ingredients}}</pre>
    </p>
    <b>Instructions: </b>
    <p>
      <pre>{{recipe.instructions}}</pre>
    </p> 
  </div>
</div>
{{/each}}
