<!-- will hold ALL recipes from all users-->
{{#each recipes as |recipe| }}
<div>
  <div>
    <h2>
      <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </h2>
    <p>Created by {{recipe.user.name}}</p>
  </div>
  <div>
    <p>
      {{recipe.instructions}}
    </p>
    <p>
      {{recipe.ingredients}}
    </p>
  </div>
</div>
{{/each}}
