<div class="content">
  <div>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="content">
  <div>
    {{#if recipes.length}}
    <div class="recipe-list">
      <h3>Current Recipes:</h3>

      {{#each recipes as |recipe|}}
      <div>
        <div>
          <h4><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h4>
          <p>{{format_date recipe.date_posted}}</p>
        </div>
        <div>
          <button data-id="{{recipe.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <script src="./js/profile.js"></script>