<!--when people select a specific recipe to look at-->
<div>
  <div>
    <h2><b>{{name}}</b></h2>
  </div>
  <div>
    <b>Ingredients: </b>
    <p>
    <pre>{{ingredients}}</pre>
    </p>
    <b>Instructions: </b>
    <p>
    <pre>{{instructions}}</pre>
    </p>
    <p><b>Created by: </b> {{user.name}}, {{format_date date_posted}}</p>
    <hr>
    {{#if logged_in}}
    <div class="box">
      <form class="field" id="new-comment-form" data-id="{{id}}">
        <div class="field">
          <label class="label">Leave a comment:</label>
          <div class="control">
            <textarea class="textarea" placeholder="Leave a comment" id="comment-body"></textarea>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    {{else}}
    {{#each comments as |comment| }}
    <div class="box">
      <b>Review by: {{user.name}}, {{format_date date_posted}}</b>
      <p>{{text}}</p>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>

<script src="../js/recipe.js"></script>